.income-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 4rem;
}
.incomeLeft,
.incomeRight {
  flex: 1; /* Fiecare secțiune va ocupa jumătate din spațiu */
  padding: 20px; /* Spațiu în jurul conținutului */
}
.incomeRight {
  width: 100%; /* Ocupă tot spațiul disponibil */
  height: 30rem;
}
.incomeLeft h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.total-sales {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.selectors {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.selectors label {
  font-size: 1rem;
  color: var(--color-gray-700);
}

.selectors select {
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--color-gray-400);
  border-radius: 0.5rem;
}

.error-message {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 1rem;
  margin-top: 2rem;
}
