.container_contact {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 3rem;
}

.contact_left,
.contact-right {
  width: 50%;
}

/* Pentru fiecare secțiune */
.facebook,
.phone,
.email,
.twitter,
.socials,
.address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Styling pentru titluri */
.facebook h4,
.phone h4,
.email h4,
.twitter h4,
.socials h4,
.address h4,
.hours h4 {
  margin-right: 1rem; /* Spațiu între titlu și conținut */
}

/* Styling pentru conținutul fiecărei secțiuni */
.facebook p,
.phone p,
.email p,
.twitter p,
.socials p,
.address p {
  flex-grow: 1;
  text-align: left;
}

.hours h4 {
  position: absolute;
}
.hours p {
  position: relative;
  top: 1 rem;
  margin-left: 10rem;
}
.contact-right {
  background-color: var(--color-gray-400);
  justify-content: center; /* Centrează conținutul orizontal */
  align-items: center; /* Centrează conținutul vertical */
  text-align: center; /* Asigură că textul din interior este centrat */
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 10rem;
  border-radius: 3rem;
}

.contact-right h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Extinde h4 pe toată lățimea containerului său */
  height: 100%; /* Dacă este necesar, depinde de design */
}

.nameReview {
  margin-top: 2rem;
}

.nameReview label,
.messageReview label,
.ratingReview label {
  font-size: 1.5rem;
  color: var(--color-gray-700);
}

.nameReview input {
  margin-left: 1rem;
  background-color: var(--color-gray-200);
  height: 2rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.messageReview {
  display: flex;
  align-items: center; /* Centrează elementele pe axa orizontală */
  justify-content: center; /* Centrează elementele pe axa verticală */
  text-align: center; /* Asigură că textul din label este centrat */
  margin-top: 1rem;
}

.messageReview label {
  margin-left: -1.4rem;
}

.messageReview textarea {
  background-color: var(--color-gray-200);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1rem;
}

.ratingReview {
  margin-left: -1rem;
  margin-top: 1rem;
}

.ratingReview label {
  margin-top: -1rem;
  margin-left: 0.7rem;
}

.ratingReview select {
  background-color: var(--color-gray-200);
  margin-left: 1.2rem;
  border-radius: 0.5rem;
  padding: 4px;
  height: 2rem;
  width: 12rem;
}

.ratingBt {
  background-color: var(--color-gray-200);
  margin-top: 1rem;
  height: 2rem;
  width: 12rem;
  border-radius: 0.5rem;
  margin-left: 5.5rem;
}

.ratingBt:hover {
  background-color: var(--color-gray-300);
}

.feedbackName {
  font-size: 15px;
  color: red;
  height: 9px;
}

.feedbackMessageRev {
  font-size: 15px;
  position: absolute;
  margin-top: 5.5rem;
  margin-left: 5rem;
  color: red;
}
