.container_reviews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews_details {
  flex: 0 0 calc(30% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center; /* Aliniază conținutul în centru pe axa orizontală */
  text-align: center; /* Alinează textul în centru pe axa orizontală */
  overflow: hidden;
  box-shadow: none;
  height: 350px;
  margin: 150px 10px 40px;
  border-radius: 0;
}
.reviews_details img {
  width: 150px; /* Ajustează dimensiunea imaginii după preferințe */
  height: 150px;
  border-radius: 50%; /* Face imaginea rotundă */
  margin-top: 10px; /* Adaugă o margine superioară pentru a muta poza mai jos */
}

.reviews_details h3 {
  font-family: Georgia;
  font-weight: 100;
  margin-top: 3px;
  background-color: var(--color-gray-400);
  padding: 8px 5px;
  border-radius: 7px;
}

.reviews_details h5 {
  font-size: 10px;
  width: 22rem;
  height: 7rem;
  margin-top: 10px;
  word-wrap: break-word;
  color: var(--color-gray-700); /* Adaugă un spațiu între text și margin */
}

.stars {
  color: var(--color-gray-700);
}

.navigation {
  height: 2rem;
  width: 2rem;
  margin-left: 77rem;
}

.ArrowBt {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5px;
}
